In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

# 1. 建立同步数据库连接 (注意：这里用的是 psycopg2，不是 asyncpg)
DATABASE_URL = "postgresql+psycopg2://postgres:password@localhost:5432/acelogic_db"
engine = create_engine(DATABASE_URL)

# 2. 写 SQL 语句把数据拉到 Pandas 里
query = "SELECT * FROM calculation_logs;"
df = pd.read_sql(query, engine)

# 3. 查看前 5 行数据！
display(df.head())

,id,user_name,hole_cards,community_cards,opponent_count,win_rate,hands_per_second,created_at,device_info
0,1,Anonymous,"[Ah, Ad]",[],1,0.84160,21671.213417,2026-02-14 18:12:30.143707,None
1,2,Anonymous,"[Ah, Ad]",[],1,0.84570,21838.685358,2026-02-14 18:12:35.542987,None
2,3,Anonymous,"[Ah, Ad]",[],1,0.84005,21620.651848,2026-02-14 18:12:37.737756,None
3,4,Anonymous,"[Ah, Ad]",[],1,0.83715,22062.867572,2026-02-14 18:12:39.719640,None
4,5,Anonymous,"[Ah, Ad]",[],5,0.45770,7864.300062,2026-02-14 18:12:46.698655,None